@charset "UTF-8";

@font-face {
    font-family: 'Frutiger 45 Light';
    src: url("../fontes/frutiger-45-light.otf");
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url("../fontes/Frutiger\ Bold.ttf");
}

body{
    background-image: url("../imagens/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background-color: rgba(16, 18, 64, 0.712);
    color: white;
}

main h2,h3{
    color: white;
    text-align: center;
} 

main p{
    color: white;
}

main ul{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

main button{
    position: relative;
    margin: 15pt 10pt;
    box-shadow: 0 0 0 0;
    border: 0 none;
    background-color: rgb(36, 37, 66);
    outline: 0;
    padding: 10pt;
    color: white;
    font-family: 'Frutiger Bold';
    border-radius: 12pt;
}
button.col1{
    position: relative;
    left: 16%;
    outline: 0;
}
button.col3{
    position: relative;
    left: 28%;
    outline: 0;
}
button.col2{
    outline: 0;
}

main button:hover{
    background-color: white;
    box-shadow: 1px 1px 4px black;
    color: rgb(16, 18, 64);
}