@charset "UTF-8";

@font-face {
    font-family: 'Frutiger 45 Light';
    src: url("../fontes/frutiger-45-light.otf");
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url("../fontes/Frutiger\ Bold.ttf");
}
body{
    background:url("../imagens/bg-4.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

main{
    padding: 2em 6em;
    background-color: rgba(22, 6, 22, 0.795);
}
h2{
    text-align: center;
    font-size: 2em;
    line-height: 150%;
}

h3{
    color: white;
    font-family: 'Frutiger Bold';
    font-size: 20pt;
}
section{
    padding: 4em 6em;
    background-color: rgb(63,22,91);
}
section h2{
    text-align: left;
}



.filtro-events{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.filtro-events li{
    background-color: rgb(63, 22, 91);
    border-radius: 15pt;
    margin: 8%;
    padding: 15pt;
    border: 4px solid white;
}
#ev1{
    margin: 8% 8% 8% 0;
}
.cartazes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 0 0 -2%;
}
.cartazes li{
    margin: 8%;
}
.cartazes li img{
    width: 96%;
}


