@charset "UTF-8";

@font-face {
    font-family: 'Frutiger 45 Light';
    src: url("../fontes/frutiger-45-light.otf");
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url("../fontes/Frutiger\ Bold.ttf");
}

main{
  background-color: rgb(31, 11, 44);
  padding: 6em;
}
main h2{
  padding: 1em;
}
main h2,p{
  color:white;
}

main ul{
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
main li{
  margin: 15pt;
}
.more{
  display: flex;
  align-items: center;
}
a.button{
  color: white;
  background-color: rgb(31, 11, 44);
  border:2px solid white;
  padding: 12pt;
  border-radius: 10pt;
  font-family: 'Frutiger Bold';
  margin: 1em;
  position: relative;
  right: -44.6%;
}
a.button:hover{
  background-color: white;
  color: rgb(31, 11, 44);
}

.legend{
  font-family: 'Frutiger 45 Light';
  padding: 1em 0;
  font-size: 13pt;
  color: white;
}
.i-menu{
  position: relative;
  margin-left: 80%;
}

section{
    padding: 2em 6em;
    background: url("../imagens/bg-4.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
section h2{
  text-align: center;
  margin: 0;
  font-size: 3em;
}

#n{
  background-image: url("../imagens/bg-4.jpeg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10em;
}
#n h2{
  text-align: center;
  font-size: 3em;
  line-height: 150%;
}


aside{
  padding: 6em;
  background-color: rgb(255, 255, 255);
  margin-top: -10%;
}
aside span h2{
  color: rgb(0, 0, 0);
}

.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  padding: 10pt;
  width: 300px;
  background-color: rgb(255, 255, 255);
}

.swiper-slide .imgBx{
  width: 100%;
}
.swiper-slide .details{
  box-sizing: border-box;
  font-size: 12pt;
  padding: 5pt;
  text-align: center;
}
.details p{
  color: black;
}
.details button{
  border:none;
  border-radius: 10pt;
  font-size: 15pt;
  background-color: rgb(63, 22, 91);
  color: white;
  outline: none;
  box-shadow: 1px 1px 4px black;
  padding: 10pt;
}
.details button:hover{
  background-color: white;
  color: rgb(63, 22, 91);
}
.details button i{
  float: right;
  font-size: 23pt;
  padding: 0 2pt;
}













