@charset "UTF-8";

@font-face {
    font-family: 'Frutiger 45 Light'; 
    src: url("../fontes/frutiger-45-light.otf");
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url("../fontes/Frutiger\ Bold.ttf");
}

 
/*Configurações Gerais*/
body {
    background-color: black;
}

p{
    font-family: 'Frutiger 45 Light';
    color: white;
    font-size: 16pt;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    margin: 15px;
    font-family: 'Frutiger Bold';
}

h2{
    font-size: 25pt;
    font-family: 'frutiger Bold';
    text-transform: uppercase;
    color: white;
    text-align: center;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 10rem;
}


nav ul{
    margin: 0;
    align-items: center;
}
nav li{
    margin: 0 1em;
    font-family: 'Frutiger Bold';
    color: rgb(113, 32, 115);

}

.sublinhado::after{
    content: '';
    display: block;
    width: 0;
    margin-top: -4pt;
    height: 3pt;
    transition: width .3s;
    background-color: rgb(113, 32, 115);
}

.sublinhado:hover::after{
    width: 100%;
    transition: width .3s;
}

.icons-nav{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.icons-nav li{
    display: flex;
}

.icons-nav button{
    color: black;
    background: none;
    border:none;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.icons-nav button:hover{
    color: rgb(113, 32, 115);
}

.icons-nav form{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icons-nav form i{
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 10px 13px;
    border-radius: 0 23px 23px 0;
    color: rgb(255, 255, 255);
    margin-left: -10px;
}

.icons-nav form i:hover{
    color: rgb(113, 32, 115);
}

.icon-B,.icon-I,.icon-E,.icon-M{
    font-size: 23pt;
}

.icon-C{
    font-size: 23pt;
}


form.busca input[type=text]{
    padding: 9pt;
    border-radius: 23px 0 0 23px;
    width: 230px;
    font-size: 17px;
    font-family: 'Frutiger 45 Light';
    border: none;
    background: rgb(245, 245, 245);
    outline: 0;
    flex-wrap: wrap;
   
}


.social li{
    display: inline-block;
    padding: 0 8pt;
    outline: none;
    text-decoration: none;
    list-style: none;
}
footer{
    display: flex;
    background-color: white;
    padding: 20pt;
    text-align: center;
    flex-flow: column wrap;
}
footer a{
    color: black;
    outline: none;
    text-decoration: none;
}

footer a:hover{
    color: rgb(113, 32, 115);
}

footer p{
    color: black;
    font-size: 12pt;
}
footer .social p{
    color: black;
    font-size: 12pt;
    font-family: 'Frutiger Bold';
    text-transform: uppercase;
}








