@charset "UTF-8";

@font-face {
    font-family: 'Frutiger 45 Light'; 
    src: url("../fontes/frutiger-45-light.otf");
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url("../fontes/Frutiger\ Bold.ttf");
}




.v-header{
  display: flex;
  height: 100vh;
  align-items: center;
  color: white;
}

.container{
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
} 

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.header-overlay{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(63, 22, 91);
    opacity: 0.75;
    z-index: -1;
}

.header-content{
  z-index: 1;
  height: 55%;

}

.header-content h2{
  text-align: center;
  font-size: 3em;
}

.header-content h3{
  font-family: 'Frutiger 45 Light'; 
}
.header-content a{
  font-size: 13pt;
  color: white;
  border: 1px solid rgb(63, 22, 91);
  background-color: rgb(63, 22, 91);
  padding: 15pt;
  border-radius: 15pt;
  font-family: 'Frutiger Bold';
}

.header-content a:hover{
  background-color: white;
  color: rgb(63, 22, 91);
}

@media (max-width:600px){
  .header-content{
    padding: 20pt;
    margin-top: -25%;
  }
  .header-content h2{
    font-size: 2em;
  }
  .header-content h3{
    font-size: 15pt;
  }
  .header-content p{
    font-size: 12pt;
  }
  .fullscreen-video-wrap video{
    top: -20%;
    left: -35%;
  }
  .header-overlay{
    padding: 0;
    height: 150%;
  }

}




