@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
    
}

audio#musica{
    display: block;
    position: relative;
    left:583px;
    top: 495px;
    width: 280px;
    height: 40px;
}

video#filme{
    display: block;
    position: relative;
    left: 88px;
    top: 80px;
    width: 440px;
}