body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F2FFFC;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #FFFF;
    background-color: #851944;
}

p {
    text-align: justify;
}