h1 {
	font-size: 120%;
	color: #954b4b;
}

h1 {
	font-size: 110%;
}

body { 
	background-color: #b5a789;
	font-family:      Georgia, "Times New Roman", Times, serif;
	font-size: small;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header img#headerSlogan {
	float: right;
}

#header {
	background-color: #675c47;
	height: 108px;
	padding: 5px;
}

#drinks {
	background-color: #efe5d0;
	padding: 15px;
	float: left;
	width: 15%;
	height: 540px;
}

#main {
	background: #efe5d0 url(images/background.gif) top left;
	padding: 15px;
	margin-left: 19%;
	margin-right: 35%;
}
#nav {
	background-color: #efe5d0;
}

#nav ul{
	list-style: none;
}

#nav ul li{
	display: inline-block;
	margin: 10px;
	border-bottom: thin dotted #675c47;
}

#nav a{
	text-decoration: none;
	color: #675c47;
	font-weight: bold;
}

#sidebar {
	background: #efe5d0 url(images/background.gif) bottom right;
	padding: 15px;
	float: right;
	width: 31%;
	height: 540px;
	text-align: justify;
}

#footer {
	background-color: #675c47;
	color:            #efe5d0;
	font-size: 90%;
	padding: 10px;
	margin-top: 10px;
	clear: both;
	text-align: center;
}

#premio {
	position: absolute;
	top: 10%;
	left: 50%;
}

a {
	color: #954b4b;
	text-decoration: none;
	border-bottom: thin dotted #675c47;
}

.beanheading {
	text-align: center;
	line-height: 20px;
}

.slogan{
	color: #954b4b;
}