body {
  font-family: "Crimson Text", "Times New Roman", serif;
  background-color: #f3f3f3;
  font-size: 120%;
  line-height: 1.5;
  margin: 0 20px 0 20px;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 230px;
  background-color: #3c3c3c;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  height: 100px;
  padding: 20px;
  background-color: #3c3c3c;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

footer ul li {
  display: inline-block;
}

nav {
  background-color: #505050;
  text-align: center;
}

nav ul {
  margin-top: 5px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

nav a:hover {
  color: #e57b00;
  font-weight: bolder;
}

main {
  width: 720px;
  margin-left: 20%;
}

main a {
  color: #851944;
}

main a:hover {
  color: #e57b00;
  font-weight: bolder;
}

p {
  text-align: justify;
}

cite {
  font-style: italic;
}

blockquote {
  width: 250px;
  background-color: #ededed;
  border: 10px solid #939393;
  padding: 20px;
  margin: 20px 40px 0 40px;
}

#blockquote1 {
  float: right;
}

#blockquote2 {
  float: left;
}

aside {
  width: 300px;
  position: absolute;
  top: 40%;
  right: 5%;
  border-left: 10px solid black;
  border-bottom: 10px solid orange;
  padding-left: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

aside ul {
  list-style-type: none;
}

aside p {
  text-align: center;
  font-size: 1.5em;
}

#portfolio a:hover {
  font-weight: normal;
}

#portfolio ul {
  list-style: none;
}

#portfolio ul li {
  display: inline-block;
  border: 4px solid black;
  background-color: #fafffc;
  width: 220px;
  height: 250px;
  padding: 15px;
  margin: 16px 5px 16px 5px;
}
#portfolio img {
  width: 100%;
}
