.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12em 15vw 8em 15vw;
}

.texto1{
    text-align: left;
    padding-right: 60pt;
}
.texto1 h2{
    color: #7F529A;
   
}
.texto1 p{
    font-size: 13px;
    padding-bottom:10px;
}

.imagem1 img{
    width: 85%;
}

@media (min-width: 1400px) and (max-width: 1920px){ 
    .apresentacao{
        padding: 12em 18%;
    }
    .texto1{
        padding-right: 100px;
    }
} 