body {
  font-family: "Crimson Text", "Times New Roman", serif;
  background-color: #f3f3f3;
  font-size: 120%;
  line-height: 1.5;
  /*width: 1200px;*/
  margin: -10px auto;
}

p{
  text-align:justify;
}

header{
  background-color: #3c3c3c;
}

header img{
  display: block;
  margin: 0 auto 0 auto;
}

nav{
  background-color: #505050;
}

nav a{
  text-decoration:none;
  color: white;
  
}

nav li{
  position: relative;
  /*left: 320px;*/
  left: 480px;
  list-style: none;
  padding: 10px;
  font-weight: bolder;
  font-family: Open Sans Condensed, sans-serif;
  color: white;
  font-size: 1.3em;
  display: inline-block;
  margin: 0 10px;
}

nav a:hover{
  color: #e57b00;
}

section{
  width: 700px;
  /*margin: 0 0 0 10%;*/
  margin: 0 0 0 20%;
  padding: 10px;
}

section a{
  color:#851944; 
}

section div#block-right{
  background-color: #ededed;
  border:10px solid #939393;
  width: 250px;
  float: right;
  padding: 10px;
  margin: 10px;
}
section div#block-left{
  background-color: #ededed;
  border:10px solid #939393;
  width: 250px;
  float: left;
  padding: 10px;
  margin: 10px;
}


section li{
  list-style: none;
  display: inline-block;
}


aside{
 float: right;
 vertical-align: top;
 border-left: 10px solid black;
 border-bottom: 10px solid #e57b00;
 padding: 20px;
 text-align: center;
 margin: 10px;
}

aside li{
  list-style: none;
  text-align: left;
}

div.caixinha{
  border: 4px solid black; 
  background-color: #fafffc;
  width: 195px;
  padding: 16px;
  margin:16px;
  text-align: left;
  height: 300px;
}

div.caixinha img{
  position: relative;
  width: 160px;
  margin: 10px;
  
}

footer{
  background-color: #3c3c3c;
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
  height: 100px;
}

footer li{
  list-style: none;
  display: inline-block;
}