.containerFormPost{
    padding: 6em 0 24em 0;
    color: white;
}

.containerFormPost h2{
    font-size: 3em;
    margin: 0;
}

.containerFormPost form{
    display: flex;
    flex-direction: column;
    padding: 0em 25em;
    
}

.containerFormPost form input, textarea{
    background: rgb(255, 255, 255);
    border: none;
    margin: 10pt;
    color: rgb(147, 67, 228);
    font-size: 13pt;
    padding: 15pt;
    border-radius: 15pt;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.submitPost{
    background-color: white;
    padding: 15pt;
    border-radius: 0 0 15pt 15pt;
    margin: -22pt 10pt 0 10pt;
    display: grid;
    justify-content: right;
}
.submitPost button{
    border: none;
    background-image:  linear-gradient(100deg, rgba(70, 118, 222, 0.900), rgba(171, 77, 220,0.900));
    padding: 10pt 15pt;
    border-radius:15pt;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    cursor: pointer;
}