@font-face {
    font-family: 'Frutiger 45 Light'; 
    src: url("../fonts/frutiger-45-light.otf");
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url("../fonts/Frutiger\ Bold.ttf");
}



.containerProfile{
    background-image: url("../img/wallpaper.jpg");
    background-size: cover;
    background-position: top center;
    padding: 4em 12em;
    display: grid;
    grid-template-columns: auto auto;
}

.containerProfile input{
    border: none;
    padding: 12pt;
    font-size: 12pt;
    border-radius: 30pt;
    outline: none;
    background-color: rgb(255, 255, 255);
}